$my-color-1: rgb(244, 246, 248);
$my-color-2: rgb(61, 64, 80);
$my-color-3: rgb(255, 234, 228);
$my-color-4: rgb(109, 193, 200);
$size: 16px;
%buttonAndDropDown {
  width: 10 * $size;
  height: 2.4 * $size;
  font-size: $size;
  font-weight: lighter;
  color: $my-color-1;
  background-color: $my-color-4;
  border-color: $my-color-4;
  border-radius: 0.2 * $size;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

body {
  box-sizing: border-box;
  background-color: $my-color-3;
  color: $my-color-2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  margin: $size;
}

// New event button

.addItemBtn {
  @extend %buttonAndDropDown;
  margin: 0 (0.2 * $size) 0;
}

// Filter button

#filterMembers {
  @extend %buttonAndDropDown;
  margin-right: 0.5 * $size;
}

// Table

table {
  margin: auto;
  box-shadow: 0 0.3 * $size 14 * $size rgba(0, 0, 0, 0.25);
  table-layout: fixed;
  width: 100%;
}

th {
  color: $my-color-1;
  font-size: 1.5 * $size;
  font-weight: 100;
  padding: $size;
  margin-bottom: $size;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: $my-color-2;
}

th:nth-of-type(1) {
  border-radius: 8px 0 0 0;
}

th:nth-last-of-type(1) {
  border-radius: 0 8px 0 0;
}

tr {
  color: $my-color-2;
  background: $my-color-1;
}

td {
  height: 50px;
  padding: 0;
  text-align: center;
  border: 1px solid rgb(223, 220, 220);
}

td:first-child {
  background: rgba($my-color-2, 0.3);
  color: $my-color-2;
}

tr:hover > td:hover:not(:nth-child(1)) {
  background: $my-color-3;
  color: $my-color-1;
}

// Table data style

.tableData {
  height: 100%;
  background: rgb(109, 193, 200);
  margin: 0;
  padding-left: $size;
  color: $my-color-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.removeItemBtn {
  height: 1.3 * $size;
  width: 1.3 * $size;
  color: $my-color-2;
  border: none;
  background-color: $my-color-4;
}

//Error message

.alert {
  color: $my-color-1;
  padding: 1.3 * $size;
  background-color: rgb(244, 67, 54);
}

.closebtn {
  margin-left: $size;
  color: $my-color-1;
  font-weight: bold;
  font-size: 1.5 * $size;
  line-height: 1.3 * $size;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: $my-color-4;
}
//Modal

#title,
#participants,
#days,
#hours {
  width: 15 * $size;
  height: 2.2 * $size;
  margin: (0.5 * $size) auto;
  display: flex;
  background-color: $my-color-4;
  border-color: $my-color-4;
  border-radius: 0.2 * $size;
}

// Media query

@media screen and (max-width: 1024px) {
  th {
    font-size: 0.8 * $size;
    padding: 0.5 * $size 0.1 * $size;
  }
}

@media screen and (max-width: 600px) {
  th {
    font-size: 0.7 * $size;
  }
  .addItemBtn,
  #filterMembers {
    width: 5 * $size;
    font-size: 0.6 * $size;
  }
  .removeItemBtn {
    height: 0.5 * $size;
    width: 0.5 * $size;
  }
}
